<form (ngSubmit)="handleSubmit()" name="form">
     <input type="text" name="name" [(ngModel)]="name" placeholder="Name of show:"><br>
     <input type="text" name="image" [(ngModel)]="image"   placeholder="Image link:"><br>
     <input type="text" name="flyer" [(ngModel)]="flyer"  placeholder="Flyer link:"><br>
     <input type="text" name="price" [(ngModel)]="price"  placeholder="Price of ticket:"><br>
     <input type="text" name="location" [(ngModel)]="location"  placeholder="Loction of venue:"><br>
    <input type="text" name="timedate" [(ngModel)]="timedate"  placeholder="Time and date of show:"><br>
    <input type="text" name="message" [(ngModel)]="message" placeholder="Message"><br>
    <input type="submit">
  </form>