<div class="container-main">
<div class="main-title">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/puKdXno38gs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h2>Booking</h2>
<pre id="booking">
FOR ALL BOOKING INQUIRIES, PLEASE CONTACT:


EDDIE STEPHENS - (562) 818 - 7607 Eddie@thesehandsomedevils.com

OR

JUAN FRAUSTO - (323) 229 - 1970 Juan@thesehandsomedevils.com
    </pre>
</div>
</div>
