<div class="container-main">
<div class="main-site">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/puKdXno38gs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

 <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTHDevils%2Fvideos%2F273785884007549%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" ></iframe> 

    <iframe width="560" height="315" src="https://www.youtube.com/embed/PppfdwIi5Ao" title="YouTube video player" frameborder="0" ></iframe> 
 <iframe width="560" height="315" src="https://www.youtube.com/embed/hpZz7tW4V6U" title="YouTube video player" frameborder="0" ></iframe>

 <div class="bandmates">



<!-- <a routerLink="/photos/create">
    <button>Add photo</button>
</a> -->

     
    <h2>Booking</h2>
<pre id="booking">
FOR ALL BOOKING INQUIRIES, PLEASE CONTACT:


EDDIE STEPHENS - (562) 818 - 7607 Eddie@thesehandsomedevils.com

OR

JUAN FRAUSTO - (323) 229 - 1970 Juan@thesehandsomedevils.com
    </pre>
</div>
</div>
