<div id="background">
<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500&family=Lato&family=Montserrat:wght@200;500&family=Poiret+One&family=Roboto:wght@100;300;400&family=Rubik&family=Rubik+Mono+One&family=Source+Code+Pro:wght@200&family=VT323&display=swap" rel="stylesheet">
<div class="container-main">
    
    <img src="https://d10j3mvrs1suex.cloudfront.net/u/71721/c0145da72304dbe4ded60618506907beefce61f1/original/1346625-orig.jpg/!!/b%3AW1sicmVzaXplIiwxMDAyXSxbIm1heCJdLFsid2UiXV0%3D/meta%3AeyJzcmNCdWNrZXQiOiJiemdsZmlsZXMifQ%3D%3D.jpg" class="main-title"/><br>
    
  </div>
  <div class="nav-div">

    <nav id="main-nav">
      <a href= "" style="text-decoration: none;">Home</a>
      <!-- <br> -->
      <a href= "/shows" style="text-decoration: none;">Shows</a> 
      <a href= "/bandmates" style="text-decoration: none;">Bandmates</a> 

      <a href= "/photos" style="text-decoration: none;">Photos</a> 
      <!-- <a href= "/login" style="text-decoration: none;">Login</a> -->
    </nav>
  </div>
  
  
<footer id='footer'>
    <a href="https://www.youtube.com/user/THDvids" target="_blank">
      <img src="https://www.shareicon.net/data/256x256/2016/07/09/118264_youtube_512x512.png" class="socialmediaicons"/>
    </a> 
    <a href="https://www.facebook.com/THDevils?ref=ts&fref=ts" target="_blank">
      <img src="https://icon-library.com/images/icon-fb/icon-fb-10.jpg"class="socialmediaicons"/>
    </a>
    <a href="https://www.instagram.com/thesehandsomedevilsband/" target="_blank">
      <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"class="socialmediaicons"/>
    </a>
  </footer> 
  
  <router-outlet></router-outlet>
</div>
