#background {

    position: relative; 
    
}

#background::after {
    content: "";
    background-image: url("https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2011/6/10/1307719929081/The-Smiths-009.jpg?width=700&quality=85&auto=format&fit=max&s=4cd08e7e3e0aca5c7d2954601acf4a8d");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

html, body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    font-family: 'Bodoni Moda', serif;

    font-weight: 400;
  }
.container-main {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.container-main> img{
    box-shadow: 15 6px 9px 0 rgba(0,0,0,0.2);
}

.main-title{
   flex-direction: column;
  
}
.main-site{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.main-site> iframe{
    margin: 5px;
}

.nav-div{
    
    justify-content: center;
    position: relative;
    font-style: italic;
    font-weight: 500;
    
}
#main-nav{
    display: flex;
    flex-direction: row;
    /* width: 30%; */
   padding: 35px;
    justify-content: space-evenly;
    /* align-items: center; */
    background-color: #e5e5e5;
  
    
    
}
#booking{
    justify-content: center;
    
}


.shows-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.shows-container> button{
    border-radius: 50%;
    justify-content: center;

    
}

#imgforshows{
    padding-bottom: 15px;
}
.img-show{
    width:700px;
    height: 400px;
    object-fit: contain
}
.img-show:hover {
    transform: scale(2);  
}
.img-show {

    transition: transform .30s ease;
    
    }
.img-display{
    width:250px;
    height: 150px;
    object-fit: contain
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 15 6px 9px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    padding: 2px 65px;
    border: 1px solid black;
    border-radius: 1%;
    background-color: #adb5bd;
    object-fit: contain;
    display: grid;
    
    justify-content: center;
    align-items: center;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  #footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:0;
    left:0;
    background-color:#252422;
    width: 100%;
    height: 50px;
    /* margin-top: -50px; */
    color: whitesmoke;
    
   }
   #footer>p{
    justify-content: center;
}

.socialmediaicons{
    
    height:25px;
    width: 25px;
    justify-content: center;
   

}

.image-mosaic {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px; */
    object-fit: contain
  }
  
.space {
    padding-bottom: 52px ;
}


button {    line-height: 50px;
	height: 50px;
	text-align: center;
	width: 150px;
	cursor: pointer;
	color: #212529;
}

    button {
        color: #FFF;
        transition: all 0.5s;
        position: relative;
        
        align-items: center;
        justify-content: center;
    }
    button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,0.1);
        transition: all 0.3s;
    }
    button:hover::before {
        opacity: 0 ;
        transform: scale(0.5,0.5);
    }
    button::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid rgba(255,255,255,0.5);
        transform: scale(1.2,1.2);
    }
    button:hover::after {
        opacity: 1;
        transform: scale(1,1);
    }

    .card-center{
        align-items: center;
        justify-content: center;

    }